.container * {
  box-sizing: border-box;
}

.scroll {
  --gap: 0.5rem;
  display: flex;
  color: var(--bs-body-color);
  background: var(--bs-body-bg);
  transition: border 0.5s ease-in-out, background 0.5s ease-in-out, color 0.5s ease-in-out;
  border: 1px solid var(--bs-secondary-bg);
  border-radius: 5px;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  width: 50rem;
  margin: 0 auto 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 75%);
}

.scroll ul {
  list-style: none;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  margin: 5px 0;
  animation: scroll 80s linear infinite;
}

.scroll ul li {
  flex: 0 0 auto;
  font-family: inherit;
  font-size: 1rem;
  background: transparent;
  opacity: 0.8;
  margin: 2px;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
}

.scroll ul li:hover {
  cursor: pointer;
  background: var(--bs-secondary-bg);
}

.scroll--reverse .scroll ul {
  animation-direction: reverse;
}

.scroll--hover-pause:hover .scroll ul {
  animation-play-state: paused;
}

.scroll--fit-content {
  max-width: fit-content;
}

.scroll--pos-absolute .scroll ul:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

.enable-animation .scroll--pos-absolute .scroll ul:last-child {
  animation-name: scroll-abs;
}

@keyframes scroll-abs {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }

  to {
    transform: translateX(0);
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media (prefers-reduced-motion: reduce) {
  .scroll ul {
    animation-play-state: paused !important;
  }
}