.header {
  position: absolute;
  top: 20px;
  left: 20px;
}

.nav-link {
  background: var(--bs-secondary-bg);
}

.nav-icon {
  width: 2.5rem;
  color: var(--bs-body-color);
  padding: 10px;
  border-radius: 15px;
}

.nav-icon:hover {
  background: var(--bs-secondary-bg);
  transition: color 0.3s ease, background 0.3s ease;
}

.nav-icon:not(:hover):not(:active) {
  transition: color 0.3s ease, background 0.3s ease;
}


.bioModal div>div>.modal-footer img {
  right: 10px;
}

.bioModal div>div>.modal-footer>ul a {
  padding: 0 5px !important;
}

.theme-toggle {
  top: 0;
  display: none;
}

.theme-label {
  display: inline-block;
  cursor: pointer;
}

.social-discord svg:hover {
  color: hsl(232, 90%, 64%)
}

.social-twitter svg:hover {
  color: hsl(201, 100%, 48%)
}

.social-github svg:hover {
  color: hsl(11, 40%, 47%)
}

.social-twitch svg:hover {
  color: hsl(265, 99%, 63%)
}