* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes hvr-pulse {
    25% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    &:hover,
    &:focus,
    &:active {
        animation-name: hvr-pulse;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

body {
    transition: background 0.3s linear;
}

footer {
    ul {
        margin: 0 !important;
        padding: 10px 0;
    }
}

[class*="icons"] i::before {
    color: var(--bs-body-bg);
    font-size: 2em;
    transition: color 0.3s linear;
}

[class*="social-"] svg:hover {
    transition: color 0.3s linear;
}

.select {
    cursor: pointer;
}

.pattern {
    opacity: 0.8;
    background: var(--bs-body-bg);
    background-image: radial-gradient(var(--bs-body-color) 0.8px, var(--bs-body-bg) 0.8px);
    background-size: 16px 16px;
    transition: background 1s linear;
}

.background {
    width: 100svw;
    height: 100svh;
    /* filter: blur(1vh);
    background-image: url("../../public/img/bg.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    transform: scale(1.1); */
}

.parallax {
    filter: blur(1px);

    &>use {
        animation: wave-scroll 25s cubic-bezier(.55, .5, .45, .5) infinite;
    }

    &>use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    &>use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    &>use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    &>use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }
}

@keyframes wave-scroll {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}