.skills {
    margin-bottom: 3rem;
}

.skills,
.icons {
    padding: 20px;
}

.icons>div>div {
    text-align: center;
    padding: 20px;
}

.bubble {
    border-radius: 25px;
    overflow: hidden;
    user-select: none;
    transition: width 1s ease;
}

.bubble i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.bubble:hover {
    filter: hue-rotate(90deg);
    transition: filter 0.6s ease-in-out;
}

.bubble:not(:hover) {
    filter: hue-rotate(0);
    transition: filter 0.6s ease-in-out;
}