.skills {
    margin-bottom: 5vh;
}

.skills,
.icons {
    padding: 20px;
}

.icons>div>div {
    text-align: center;
    padding: 20px;
}

.circle {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    transition: width 1s ease;
}

.circle i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.2rem;
}

@media (max-width: 575px) {
    .circle {
        width: 4rem;
        height: 4rem;
    }

    .circle i {
        font-size: 0.8rem;
    }
}

@media (min-height: 1360px) {
    .circle {
        width: 10rem;
        height: 10rem;
    }

    .circle i {
        font-size: 1.8rem;
    }
}