.modal * {
  border: none;
  z-index: 1050;
}

.btn-close {
  display: none;
}

.modal-backdrop {
  pointer-events: none;

  &.show {
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
  }
}

.modal-dialog {
  max-width: 850px;
}

.modal-content {
  padding: 1em;
  border-radius: 10px;
  background: transparent;
}

.modal-title {
  span {
    color: var(--bs-gray-100);
    font-size: 3vw;
    padding: 2px 0;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 5px solid var(--bs-gray-100);
    white-space: normal;
    line-height: 4rem;
    position: relative;
    left: 0.5em;
  }
}

.modal-body {
  color: var(--bs-gray-100);
  background: transparent;
  padding: 1.5em 1.5em;

  &::-webkit-scrollbar {
    background: transparent;
  }

  p,
  ul {
    font-size: 1rem;
    font-weight: 400;
  }
}

.modal-footer {
  font-size: 1rem;
  padding: 0 15px;
  margin-top: 5px;
  justify-content: space-between;

  & > *:nth-child(-n + 2) {
    position: relative;
    top: 5px;
  }

  a svg {
    color: var(--bs-gray-100);
    text-decoration: none;
    font-size: 1.5rem;
  }
}
